* {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #e6e6e6;
}

::-webkit-scrollbar-thumb:hover {
  background: #e6e6e6;
}
